@model Senai.Chamados.Web.ViewModels.Usuario.ListaUsuarioViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Styles{
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet" />
}

<main role="main" class="container">
    <div class="starter-template">
        <h2>Tela do Usuário</h2>

        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Erro
            </div>
        }

        @TempData["Erro"]

        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model.ListaUsuarios)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => usuario.Nome)</td>
                            <td>@Html.DisplayFor(x => usuario.Email)</td>
                            <td>@Html.DisplayFor(x => usuario.Telefone)</td>
                            <td><a href="/Usuario/Editar/@usuario.Id">Editar</a></td>
                            <td><a href="/Usuario/Deletar/@usuario.Id">Deletar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</main>