<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Senai Chamados</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="/Chamado" class="nav-link">Chamados</a>
                    </li>
                    if (User.IsInRole("Administrador"))
                    {
                        <li>
                            <a href="/Usuario" class="nav-link">Usuários</a>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">@User.Identity.Name<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Alterar Senha", "AlterarSenha", "Perfil")</li>
                            <li>@Html.ActionLink("Sair", "Logout", "Conta")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item login">
                        <a class="nav-link " href="/conta/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item cadastrarusuario">
                        <a class="nav-link" href="/conta/cadastrarusuario">Cadastrar Conta</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
