@model Senai.Chamados.Web.ViewModels.Usuario.UsuarioViewModel

@{
    /**/

    ViewBag.Title = "CadastrarUsuario";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Styles{
    <link href="https://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css" rel="stylesheet" />
}

@using (Html.BeginForm("CadastrarUsuario", "Conta", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()

    @ViewBag.Autenticado

    <div class="text-center mb-4">
        <img class="mb-4" src="~/Content/img/senai-sp.jpg" alt="" width="125" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Criar Conta</h1>
        <p>Crie uma conta para abrir chamados em nosso sistema.</p>
    </div>

    <p>@ViewBag.Erro</p>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
        @Html.LabelFor(x => x.Nome)
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.LabelFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control" })
        @Html.LabelFor(x => x.Telefone)
        @Html.ValidationMessageFor(x => x.Telefone)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Cpf, new { @class = "form-control" })
        @Html.LabelFor(x => x.Cpf)
        @Html.ValidationMessageFor(x => x.Cpf)
    </div>

    <div class="form-label-group">
        @Html.PasswordFor(x => x.Senha, new { @class = "form-control" })
        @Html.LabelFor(x => x.Senha)
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <div class="form-label-group">
        @Html.DropDownListFor(x => x.Sexo, Model.ListaSexo, "Selecione o Sexo", new { @class = "form-control" })
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Cep, new { @class = "form-control" })
        @Html.LabelFor(x => x.Cep)
        @Html.ValidationMessageFor(x => x.Cep)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Logradouro, new { @class = "form-control" })
        @Html.LabelFor(x => x.Logradouro)
        @Html.ValidationMessageFor(x => x.Logradouro)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Numero, new { @class = "form-control" })
        @Html.LabelFor(x => x.Numero)
        @Html.ValidationMessageFor(x => x.Numero)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Complemento, new { @class = "form-control" })
        @Html.LabelFor(x => x.Complemento)
        @Html.ValidationMessageFor(x => x.Complemento)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Bairro, new { @class = "form-control" })
        @Html.LabelFor(x => x.Bairro)
        @Html.ValidationMessageFor(x => x.Bairro)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Cidade, new { @class = "form-control" })
        @Html.LabelFor(x => x.Cidade)
        @Html.ValidationMessageFor(x => x.Cidade)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Estado, new { @class = "form-control" })
        @Html.LabelFor(x => x.Estado)
        @Html.ValidationMessageFor(x => x.Estado)
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

    <script>
        $(document).ready(function () {
            $("#Telefone").mask('(00) 0000-00000');
            $("#Cep").mask('00000-000');
            $("#Cpf").mask('000.000.000-00')

            
        })
    </script>
}