@model Senai.Chamados.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Styles{
    <link href="https://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css" rel="stylesheet" />
}

@using (Html.BeginForm("Login", "Conta", FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="text-center mb-4">
        <br />
        <img class="mb-4" src="~/Content/img/senai-sp.jpg" alt="" width="125" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <p>Faça o login para abrir chamados em nosso sistema.</p>
    </div>

    <p>@ViewBag.Erro</p>
    <p>@TempData["Mensagem"]</p>

    <div class="form-label-group">
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.LabelFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-label-group">
        @Html.PasswordFor(x => x.Senha, new { @class = "form-control" })
        @Html.LabelFor(x => x.Senha)
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
}
