@using Senai.Chamados.Web.Helpers
@model Senai.Chamados.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Styles{

    <link href="~/Content/Signin.css" rel="stylesheet" />
}

@using (Html.BeginForm("Login", "Conta", FormMethod.Post, new { @class = "form-signin" }))
{

    @Html.AntiForgeryToken()


    <div class="text-center mb-4">
        <br />
        <img class="mb-4" src="~/Content/img/senai-sp.jpg" alt="" width="125" height="72">
        <h4 class="form-signin-heading">Faça o login para abrir chamados em nosso sistema.</h4>

    </div>

    <p>@ViewBag.Erro</p>
    <p>@TempData["Mensagem"]</p>


    @Html.LabelFormSign("Email", "Informe seu Email")
    @Html.LabelFor(x => x.Email, new { @class = "sr-only" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Informe o Email" })
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })


    @Html.LabelFor(x => x.Senha, new { @class = "sr-only" })
    @Html.PasswordFor(x => x.Senha, new { @class = "form-control", placeholder = "Informe a Senha" })
    @Html.ValidationMessageFor(x => x.Senha, "", new { @class = "text-danger" })


    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
}

