@model Senai.Chamados.Web.ViewModels.Grafico.ListaGraficoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="panel-heading">Gráficos de Status</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <canvas id="pie-chart-status" with="800" height="450"></canvas>
            </div>
            <div class="col-lg-6">
                <canvas id="bar-chart-status" width="800" height="450"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="panel-heading">Gráficos de Setor</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <canvas id="pie-chart-setor" with="800" height="450"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="bar-chart-setor" width="800" height="450"></canvas>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/Chart.Util.js"></script>{

    <script type="text/javascript">
    $(document).ready(function () {

        var myBarChart = new Chart(document.getElementById("bar-chat-status"), {
            type: 'bar',
            data: {
                labels: @Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
                datasets: [
                    {
                        label: "Status",
                        backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.yellow,
                            window.chartColors.green
                        ],
                        data: @Html.Raw(Json.Encode(Model.GraficoStatus.Data))
                    }
                ]
            },
            options: {
                legend : { display: true },
                title: {
                    display: true,
                    text : "Gráfico de Status Barra"
                },
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
                   }
            }

        });

        var myPieChart = new Chart(document.getElementById("pie-chat-status"), {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Encode(Model.GraficoStatus.Labels)),
                datasets: [
                    {
                        label: "Status",
                        backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.yellow,
                            window.chartColors.green
                        ],
                        data: @Html.Raw(Json.Encode(Model.GraficoStatus.Data))
                    }
                ]
            },
            options: {
                legend : { display: true },
                title: {
                    display: true,
                    text : "Gráfico de Status Barra"
                },
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
                   }
            }

        });


         var myBarChart = new Chart(document.getElementById("bar-chat-setor"), {
            type: 'bar',
            data: {
                labels: @Html.Raw(Json.Encode(Model.GraficoSetor.Labels)),
                datasets: [
                    {
                        label: "Setor",
                        backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.yellow,
                            window.chartColors.green
                        ],
                        data: @Html.Raw(Json.Encode(Model.GraficoSetor.Data))
                    }
                ]
            },
            options: {
                legend : { display: true },
                title: {
                    display: true,
                    text : "Gráfico de Setor Barra"
                },
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
                   }
            }

        });

        var myPieChart = new Chart(document.getElementById("pie-chat-setor"), {
            type: 'pie',
            data: {
                labels: @Html.Raw(Json.Encode(Model.GraficoSetor.Labels)),
                datasets: [
                    {
                        label: "Status",
                        backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.yellow,
                            window.chartColors.green
                        ],
                        data: @Html.Raw(Json.Encode(Model.GraficoSetor.Data))
                    }
                ]
            },
            options: {
                legend : { display: true },
                title: {
                    display: true,
                    text : "Gráfico de Status Barra"
                },
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
                   }
            }

        });

    });

    </script>
    }}