@model Senai.Chamados.Web.ViewModels.Chamado.ChamadoViewModel

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section Styles{
    <link href="https://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css" rel="stylesheet" />
}

@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger">
        @ViewBag.Erro
    </div>
}


@using (Html.BeginForm("Cadastrar", "Chamado", new { @class = "form-signin" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.AntiForgeryToken()

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Cadastrar Chamado</h1>
        <p>Cadastre um novo chamado</p>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Titulo)
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Titulo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Descricao)
        @Html.TextAreaFor(x => x.Descricao, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Descricao, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Setor)
        @Html.DropDownListFor(x => x.Setor, Model.ListaSetores, "Selecione o Setor", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Setor, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Status)
        @Html.DropDownListFor(x => x.Status, Model.ListaStatus, "Selecione o Status", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Status, "", new { @class = "text-danger" })
    </div>
    
    <button type="submit" class="btn btn-lg btn-block btn-primary">Criar</button>
}


